<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ncs.mapper.BoardMapper">
 
  	<select id="selectList" resultType="com.ncs.vo.BoardVO">
  		select seq, title, id, regdate from board where exist=1 order by seq desc
  	</select>
 
 	<insert id="insert">
 	<selectKey keyProperty="seq" order="BEFORE" resultType="int">
 		select IFNULL(MAX(seq),0)+1 as seq from board
 	</selectKey>
 		insert into board(seq, title, content, id)
 		values(#{seq},#{title},#{content},#{id})
 	</insert>
 	
 	<select id="selectOne" resultType="com.ncs.vo.BoardVO">
 		select * from board where seq=#{seq}
 	</select>
 	
 	<update id="update">
 		update board set title=#{title}, content=#{content}, updatedate=now() where seq=#{seq}
 	</update>
 	
 	<delete id="delete">
 		update board set exist = 0 where seq=#{seq}
 	</delete>
  </mapper>